Host github.com
  HostName github.com
  User git
  StrictHostKeyChecking no
  IdentityFile ~/.ssh/travisgithubblog
  IdentitiesOnly yes
Host coding.net
  HostName coding.net
  User git
  StrictHostKeyChecking no
  IdentityFile ~/.ssh/traviscodingbolg
  IdentitiesOnly yes