Host github.com
  User git
  StrictHostKeyChecking no
  IdentityFile ~/.ssh/githubhexoblog
  IdentitiesOnly yes
Host coding.nte
  User git
  StrictHostKeyChecking no
  IdentityFile ~/.ssh/coding
  IdentitiesOnly yes